body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1,
h2 {
    text-align: center;
}

.cell {
    width: 90px;
    height: 90px;
    background-color: rgb(248, 229, 229);
    border: 2px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    cursor: pointer;
}

.cell:hover {
    background-color: rgb(247, 211, 211);
}

.wrap {
    display: grid;
    width: min-content;
    grid-template-columns: repeat(3, 1fr);
    gap: 2px;

    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}